body {
  background: #1f423e;
}

.dashboard {
  border-radius:10px;
  background: #141414;
  padding:6px 6px;
}

.header {
  margin: 0px;
  height:15vh;
  text-align: center;
  border-radius:10px;
  padding:6px 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-size:  6vmin;
  color: #FFFFFF;
}

.header div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-top: 3vmin;
}

.dashboard-page {
  background:#141414;
  box-shadow: 2px 2px 2px #227C70, 6px 6px 30px #141414;
  border-radius:14px;
  padding:6px 0px;
}

.version-fixed-bugs {
  width: 50%;
  height: 50%;
}

.horizontal-scroll-bar {
  width: 100%;
  height: 100%;
  border-radius:8px;

  display: flex;
  scroll-snap-type: x mandatory;
  white-space: nowrap;

  overflow-x: scroll;
  overflow-y: hidden;

  /* Hide scrollbar for Firefox */
  /* scrollbar-width: none; */
}

.horizontal-scroll-bar::-webkit-scrollbar {
  /* Hide scrollbar for Chromium and Safari */
  /* display: none; */
}

.fixed-bug-list {
  aspect-ratio: 2/1;
  /* background: red; */
  width: 100%;
  height: 100%;
  display: inline-block;
  scroll-snap-align: center;
  margin: 5px;
}

.fixed-bug-list .title {
  color: white;
  text-align: center;
}

.fixed-bug-list .description {
  /* background: yellow; */
  color: white;
  text-align: center;
}

.footer {
  height: 20px;
}

/* .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  bottom: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
} */
